.container{
    border: 5px solid red;
    /* height: 600px; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: flex-end; */
}
.box{
    /* width: 200px; */
    /* flex-basis: 200px; */
}
#box1{
border: 2px solid green;
/* order: 3; */
/* flex: 4; */
}
#box2{
    border: 2px solid yellow;
    /* order: 2; */
    /* flex: 2; */

}
#box3{
    border: 2px solid blue;
    /* order: 1; */
    /* flex: 1; */

    
}